{% extends 'adminhome.html' %}

{% block main %}

    <div class="card shadow">
        <div class="card-body">
            <h5 class="p-2" style="border-bottom: 2px solid orange;">Ajouter Produits</h5>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Nom:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" id="description" name="descrip" rows="3" required></textarea>
                </div>
                <div class="form-group">
                    <label for="price">Prix:</label>
                    <input type="text" class="form-control" id="price" name="prix" required>
                </div>
                <div class="form-group">
                    <label for="image">Image:</label>
                    <input type="file" class="form-control-file" id="image" name="image" required>
                </div>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>    
        </div>
    </div>
    <script> 
{% endblock  %}