{% extends 'adminhome.html' %}
{% block main %}
<script type="text/javascript">
    function checkpass()
    {
        if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
        {
            alert('New Password and Confirm Password field does not match');
            document.changepassword.confirmpassword.focus();
            return false;
        }
        return true;
    }
</script>
<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Changement Mot de Passe</h5>
        <div class="container-fluid">
            <form action="" method="post" name="changepassword" onsubmit="return checkpass();">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Ancien Mot de Passe</label>
                            <input type="password" name="currentpassword" id="currentpassword" placeholder=""  class="form-control" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Nouveau Mot de Passe</label>
                            <input type="password" name="newpassword" placeholder=""  class="form-control" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Confirmer le Mot de Passe</label>
                            <input type="password" name="confirmpassword" id="confirmpassword" placeholder=""  class="form-control" required>
                        </div>
                    </div>

                </div>
                <input type="submit" value="Enregistrer" class="m-2 px-3 btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock  %}