

{% extends 'adminhome.html' %}

{% block main %}
<div class="card shadow">
  <div class="card-body">
    <h5 class="p-2" style="border-bottom: 2px solid orange;"> Les produits</h5>
    <div class="container-fluid">
      <table class="table table-bordered table-sm" id="example">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Nom</th>
            <th>Image</th>
            <th>Prix</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for i in produits %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.name }}</td>
            <td><img src="{{ i.image.url }}" style="width:100px"/></td>
            <td>{{ i.prix}} DH</td>
            <td>
              <div class="btn-group form-group form-inline btn-group-justified" role="group">
        
              
                <form method="POST" action="{% url 'delete_produit' pid=i.id %}">
                  {% csrf_token %}
                
                  <div class="row">
                    <div class="col">
                      <button type="submit" class="btn btn-danger btn-sm w-100" onclick="return confirm('Voulez-vous vraiment supprimer?')">Supprimer</button>
                    </div>
                    <div class="col">
                      <button type="button" class="btn btn-success btn-sm w-100" onclick="location.href='/edit-produit/{{i.id}}/'">Editer produit</button>
                    </div>
                  </div>
                </form>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}